ParmaterTest/ParameterTest/Service References/FabricPartService/FabricPartManagementWS.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://esquel.com/ArasService/FabricPartManagementWS" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esquel.com/ArasService/FabricPartManagementWS" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://esquel.com/ArasService/FabricPartManagementWS/Imports">
      <xsd:import schemaLocation="http://localhost:49504/FabricPartManagementWS.svc?xsd=xsd0" namespace="http://esquel.com/ArasService/FabricPartManagementWS" />
      <xsd:import schemaLocation="http://localhost:49504/FabricPartManagementWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49504/FabricPartManagementWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel" />
      <xsd:import schemaLocation="http://localhost:49504/FabricPartManagementWS.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="http://localhost:49504/FabricPartManagementWS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IFabricPartManagementWS_getFabricPartList_InputMessage">
    <wsdl:part name="parameters" element="tns:getFabricPartList" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_getFabricPartList_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFabricPartListResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_getFabricPartById_InputMessage">
    <wsdl:part name="parameters" element="tns:getFabricPartById" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_getFabricPartById_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFabricPartByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_getFabricPartImage_InputMessage">
    <wsdl:part name="parameters" element="tns:getFabricPartImage" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_getFabricPartImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:getFabricPartImageResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_CreateAndFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAndFilter" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_CreateAndFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAndFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_CreateOrFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrFilter" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_CreateOrFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrFilterResponse" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_CreateLeaf_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLeaf" />
  </wsdl:message>
  <wsdl:message name="IFabricPartManagementWS_CreateLeaf_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLeafResponse" />
  </wsdl:message>
  <wsdl:portType name="IFabricPartManagementWS">
    <wsdl:operation name="getFabricPartList">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/getFabricPartList" message="tns:IFabricPartManagementWS_getFabricPartList_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/getFabricPartListResponse" message="tns:IFabricPartManagementWS_getFabricPartList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFabricPartById">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/getFabricPartById" message="tns:IFabricPartManagementWS_getFabricPartById_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/getFabricPartByIdResponse" message="tns:IFabricPartManagementWS_getFabricPartById_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="getFabricPartImage">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/getFabricPartImage" message="tns:IFabricPartManagementWS_getFabricPartImage_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/getFabricPartImageResponse" message="tns:IFabricPartManagementWS_getFabricPartImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAndFilter">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/CreateAndFilter" message="tns:IFabricPartManagementWS_CreateAndFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/CreateAndFilterResponse" message="tns:IFabricPartManagementWS_CreateAndFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrFilter">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/CreateOrFilter" message="tns:IFabricPartManagementWS_CreateOrFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/CreateOrFilterResponse" message="tns:IFabricPartManagementWS_CreateOrFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLeaf">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/CreateLeaf" message="tns:IFabricPartManagementWS_CreateLeaf_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/FabricPartManagementWS/IFabricPartManagementWS/CreateLeafResponse" message="tns:IFabricPartManagementWS_CreateLeaf_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>