ParmaterTest/ParameterTest/Service References/FabricPartService/FabricPartManagementWS2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://esquel.com/ArasService/FabricPartManagementWS" elementFormDefault="qualified" targetNamespace="http://esquel.com/ArasService/FabricPartManagementWS" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49504/FabricPartManagementWS.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel" />
  <xs:import schemaLocation="http://localhost:49504/FabricPartManagementWS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" />
  <xs:element name="getFabricPartList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel" minOccurs="0" name="pi_FabricPartClass" nillable="true" type="q1:FabricPartClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFabricPartListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel" minOccurs="0" name="getFabricPartListResult" nillable="true" type="q2:FabricPartClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFabricPartById">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel" minOccurs="0" name="pi_FabricPartClass" nillable="true" type="q3:FabricPartClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFabricPartByIdResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel" minOccurs="0" name="getFabricPartByIdResult" nillable="true" type="q4:FabricPartClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFabricPartImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel" minOccurs="0" name="pi_FabricPartClass" nillable="true" type="q5:FabricPartClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="getFabricPartImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel" minOccurs="0" name="getFabricPartImageResult" nillable="true" type="q6:FabricPartClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAndFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="filters" nillable="true" type="q7:ArrayOfSelectionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAndFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="CreateAndFilterResult" nillable="true" type="q8:SelectionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="filters" nillable="true" type="q9:ArrayOfSelectionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="CreateOrFilterResult" nillable="true" type="q10:SelectionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLeaf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchOperator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLeafResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="CreateLeafResult" nillable="true" type="q11:SelectionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>