ParmaterTest/ParameterTest/Service References/FabricPartService/FabricPartManagementWS4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49504/FabricPartManagementWS.svc?xsd=xsd3" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="http://localhost:49504/FabricPartManagementWS.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" />
  <xs:import schemaLocation="http://localhost:49504/FabricPartManagementWS.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:complexType name="FabricPartClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayPageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayPageSize" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FabricPartList" nillable="true" type="tns:ArrayOfPart" />
      <xs:element minOccurs="0" name="GetImageType" type="tns:eumImageType" />
      <xs:element minOccurs="0" name="GetReturnString" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="KeyColumnsList" nillable="true" type="q1:ArrayOfstring" />
      <xs:element minOccurs="0" name="OperationID" nillable="true" type="xs:string" />
      <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="SelectionFilter" nillable="true" type="q2:SelectionFilter" />
      <xs:element minOccurs="0" name="SuccessFlag" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FabricPartClass" nillable="true" type="tns:FabricPartClass" />
  <xs:complexType name="ArrayOfPart">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Part" nillable="true" type="tns:Part" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPart" nillable="true" type="tns:ArrayOfPart" />
  <xs:complexType name="Part">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLASSIFICATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_AGOA" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_BRAND_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_BRAND_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_CLASS0" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_CLASS1" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_CLASS2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_COMBO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_CONSTRUCTION" type="xs:int" />
      <xs:element minOccurs="0" name="CN_CONSTRUCTION2" type="xs:int" />
      <xs:element minOccurs="0" name="CN_CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_CUST_ITEM_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_CUST_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_DTM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_DYE_METHOD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_EMBROIDERY_SIZE_A_W" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_EMBROIDERY_SIZE_B_W" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_FABRIC_PATTERN" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_FABRIC_WEIGHT" type="xs:int" />
      <xs:element minOccurs="0" name="CN_FABRIC_WIDTH" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_FAB_SHK_LEN" type="xs:float" />
      <xs:element minOccurs="0" name="CN_FAB_SHK_WIDTH" type="xs:float" />
      <xs:element minOccurs="0" name="CN_FAB_TEST_GRADING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_FINISHING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_GMT_SHK_LEN" type="xs:float" />
      <xs:element minOccurs="0" name="CN_GMT_SHK_WIDTH" type="xs:float" />
      <xs:element minOccurs="0" name="CN_HANDFEEL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_LOGO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_LOGO_DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_MATERIAL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_PLACEMENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_PPO_AGPO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_PRICE" type="xs:float" />
      <xs:element minOccurs="0" name="CN_PRINTING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_PRINTING_METHOD" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_PRINTING_SIZE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_PRINTING_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_QUALITY_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_REMARKS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_REP_H" type="xs:float" />
      <xs:element minOccurs="0" name="CN_REP_V" type="xs:float" />
      <xs:element minOccurs="0" name="CN_SUPPLIER_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_SUPPLIER_ITEM_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_THREAD_COUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_THREAD_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_THUMBNAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_WASHING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_YARN_COUNT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_YARN_COUNT2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONFIG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="COST" type="xs:decimal" />
      <xs:element minOccurs="0" name="COST_BASIS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURRENT_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURRENT_STATE_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DESCRIPTION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EFFECTIVE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="EXTERNAL_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTERNAL_OWNER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTERNAL_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GENERATION" type="xs:int" />
      <xs:element minOccurs="0" name="HAS_CHANGE_PENDING" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_CURRENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_RELEASED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEYED_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCKED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCKED_BY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAJOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAKE_BUY" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANAGED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_BY_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEW_VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOT_LOCKABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PartCADList" nillable="true" type="tns:ArrayOfPartCAD" />
      <xs:element minOccurs="0" name="PartColorComboList" nillable="true" type="tns:ArrayOfPartColorCombo" />
      <xs:element minOccurs="0" name="PartContentList" nillable="true" type="tns:ArrayOfPartContent" />
      <xs:element minOccurs="0" name="PartDocumentList" nillable="true" type="tns:ArrayOfPartDocument" />
      <xs:element minOccurs="0" name="PartSizeList" nillable="true" type="tns:ArrayOfPartSize" />
      <xs:element minOccurs="0" name="RELEASE_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SUPERSEDED_DATE" type="xs:dateTime" />
      <xs:element minOccurs="0" name="TEAM_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UNIT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WEIGHT" type="xs:decimal" />
      <xs:element minOccurs="0" name="WEIGHT_BASIS" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Part" nillable="true" type="tns:Part" />
  <xs:complexType name="ArrayOfPartCAD">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartCAD" nillable="true" type="tns:PartCAD" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartCAD" nillable="true" type="tns:ArrayOfPartCAD" />
  <xs:complexType name="PartCAD">
    <xs:sequence>
      <xs:element minOccurs="0" name="BEHAVIOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLASSIFICATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONFIG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURRENT_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTERNAL_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTERNAL_OWNER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTERNAL_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GENERATION" type="xs:int" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_CURRENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_RELEASED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEYED_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCKED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAJOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANAGED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NEW_VERSION" type="ser:char" />
      <xs:element minOccurs="0" name="NOT_LOCKABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RELATED_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="SOURCE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEAM_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartCAD" nillable="true" type="tns:PartCAD" />
  <xs:complexType name="ArrayOfPartColorCombo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartColorCombo" nillable="true" type="tns:PartColorCombo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartColorCombo" nillable="true" type="tns:ArrayOfPartColorCombo" />
  <xs:complexType name="PartColorCombo">
    <xs:sequence>
      <xs:element minOccurs="0" name="BEHAVIOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLASSIFICATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONFIG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURRENT_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ColorCodeList" nillable="true" type="tns:ArrayOfColorCode" />
      <xs:element minOccurs="0" name="GENERATION" type="xs:int" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_CURRENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_RELEASED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEYED_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCKED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAJOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANAGED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NEW_VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOT_LOCKABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RELATED_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="SOURCE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEAM_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="THUMBNAIL" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartColorCombo" nillable="true" type="tns:PartColorCombo" />
  <xs:complexType name="ArrayOfColorCode">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColorCode" nillable="true" type="tns:ColorCode" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColorCode" nillable="true" type="tns:ArrayOfColorCode" />
  <xs:complexType name="ColorCode">
    <xs:sequence>
      <xs:element minOccurs="0" name="CLASSIFICATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_CUST_CODE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_LAB_DIP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_PANTONE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_PROGRAM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_THUMBNAIL" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONFIG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURRENT_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GENERATION" type="xs:int" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_CURRENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_RELEASED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ITEM_NUMBER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEYED_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCKED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAJOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANAGED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NEW_VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOT_LOCKABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEAM_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorCode" nillable="true" type="tns:ColorCode" />
  <xs:complexType name="ArrayOfPartContent">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartContent" nillable="true" type="tns:PartContent" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartContent" nillable="true" type="tns:ArrayOfPartContent" />
  <xs:complexType name="PartContent">
    <xs:sequence>
      <xs:element minOccurs="0" name="BEHAVIOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLASSIFICATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_CONTENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_CONTENT_RATIO" type="xs:int" />
      <xs:element minOccurs="0" name="CONFIG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURRENT_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GENERATION" type="xs:int" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_CURRENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_RELEASED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEYED_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCKED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAJOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANAGED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NEW_VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOT_LOCKABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RELATED_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="SOURCE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEAM_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartContent" nillable="true" type="tns:PartContent" />
  <xs:complexType name="ArrayOfPartDocument">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartDocument" nillable="true" type="tns:PartDocument" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartDocument" nillable="true" type="tns:ArrayOfPartDocument" />
  <xs:complexType name="PartDocument">
    <xs:sequence>
      <xs:element minOccurs="0" name="BEHAVIOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLASSIFICATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONFIG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURRENT_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTERNAL_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTERNAL_OWNER" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EXTERNAL_TYPE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GENERATION" type="xs:int" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_CURRENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_RELEASED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEYED_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCKED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAJOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANAGED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NEW_VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOT_LOCKABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RELATED_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="SOURCE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEAM_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartDocument" nillable="true" type="tns:PartDocument" />
  <xs:complexType name="ArrayOfPartSize">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PartSize" nillable="true" type="tns:PartSize" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPartSize" nillable="true" type="tns:ArrayOfPartSize" />
  <xs:complexType name="PartSize">
    <xs:sequence>
      <xs:element minOccurs="0" name="BEHAVIOR" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CLASSIFICATION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_SIZE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CN_SIZE_DESC" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CONFIG_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CREATED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="CSS" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CURRENT_STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GENERATION" type="xs:int" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_CURRENT" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="IS_RELEASED" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="KEYED_NAME" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="LOCKED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MAJOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MANAGED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MINOR_REV" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="MODIFIED_ON" type="xs:dateTime" />
      <xs:element minOccurs="0" name="NEW_VERSION" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NOT_LOCKABLE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OWNED_BY_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PERMISSION_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RELATED_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SORT_ORDER" type="xs:int" />
      <xs:element minOccurs="0" name="SOURCE_ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="STATE" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TEAM_ID" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PartSize" nillable="true" type="tns:PartSize" />
  <xs:simpleType name="eumImageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UsePrimaryPath" />
      <xs:enumeration value="UseTempPath" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eumImageType" nillable="true" type="tns:eumImageType" />
</xs:schema>