ArasServiceObject/ArasServiceObject/Service References/FabricPartManageService/FabricPartManageService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://esquel.com/ArasService/FabricPartManageService" elementFormDefault="qualified" targetNamespace="http://esquel.com/ArasService/FabricPartManageService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49504/FabricPartManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" />
  <xs:import schemaLocation="http://localhost:49504/FabricPartManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel.PublicModel" />
  <xs:element name="GetFabricPartList">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="pi_selectionFilter" nillable="true" type="q1:SelectionFilter" />
        <xs:element minOccurs="0" name="pi_pageIndex" type="xs:int" />
        <xs:element minOccurs="0" name="pi_pageSize" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFabricPartListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel.PublicModel" minOccurs="0" name="GetFabricPartListResult" nillable="true" type="q2:FabricPartClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFabricPartByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pi_fabricPartID" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFabricPartByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel.PublicModel" minOccurs="0" name="GetFabricPartByIDResult" nillable="true" type="q3:FabricPartClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFabricPartImage">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="pi_fabricPartID" nillable="true" type="xs:string" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel.PublicModel" minOccurs="0" name="pi_getImageType" type="q4:eumImageType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetFabricPartImageResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel.PublicModel" minOccurs="0" name="GetFabricPartImageResult" nillable="true" type="q5:FabricPartClass" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAndFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="filters" nillable="true" type="q6:ArrayOfSelectionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateAndFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="CreateAndFilterResult" nillable="true" type="q7:SelectionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrFilter">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="filters" nillable="true" type="q8:ArrayOfSelectionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateOrFilterResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="CreateOrFilterResult" nillable="true" type="q9:SelectionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLeaf">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="attributeName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="searchOperator" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="filterValue" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateLeafResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="CreateLeafResult" nillable="true" type="q10:SelectionFilter" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>