ArasServiceObject/ArasServiceObject/Service References/TrimPartManageService/TrimPartManageService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel.PublicModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel.PublicModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:49504/TrimPartManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" />
  <xs:import schemaLocation="http://localhost:49504/TrimPartManageService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:complexType name="TrimPartClass">
    <xs:sequence>
      <xs:element minOccurs="0" name="DisplayPageIndex" type="xs:int" />
      <xs:element minOccurs="0" name="DisplayPageSize" type="xs:int" />
      <xs:element minOccurs="0" name="ErrorCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ErrorString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetImageType" type="tns:eumImageType" />
      <xs:element minOccurs="0" name="GetReturnString" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OperationID" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" minOccurs="0" name="SelectionFilter" nillable="true" type="q1:SelectionFilter" />
      <xs:element minOccurs="0" name="SuccessFlag" type="xs:boolean" />
      <xs:element minOccurs="0" name="TrimPartList" nillable="true" type="tns:TrimPartList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrimPartClass" nillable="true" type="tns:TrimPartClass" />
  <xs:simpleType name="eumImageType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="UsePrimaryPath" />
      <xs:enumeration value="UseTempPath" />
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="eumImageType" nillable="true" type="tns:eumImageType" />
  <xs:complexType name="TrimPartList">
    <xs:sequence>
      <xs:element minOccurs="0" name="TrimPart" nillable="true" type="tns:ArrayOfTrimPartBaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrimPartList" nillable="true" type="tns:TrimPartList" />
  <xs:complexType name="ArrayOfTrimPartBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TrimPartBaseType" nillable="true" type="tns:TrimPartBaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTrimPartBaseType" nillable="true" type="tns:ArrayOfTrimPartBaseType" />
  <xs:complexType name="TrimPartBaseType">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="AGPONum" nillable="true" type="q2:ArrayOfstring" />
      <xs:element minOccurs="0" name="CAD" nillable="true" type="tns:URIDocumentsType" />
      <xs:element minOccurs="0" name="Color" nillable="true" type="tns:ArrayOfColorBaseType" />
      <xs:element minOccurs="0" name="DTM" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Logo" nillable="true" type="tns:TrimBtnLogoBaseType" />
      <xs:element minOccurs="0" name="Material" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Price" nillable="true" type="tns:ArrayOfPriceBaseType" />
      <xs:element minOccurs="0" name="Remarks" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" nillable="true" type="tns:ArrayOfSizeBaseType" />
      <xs:element minOccurs="0" name="Sketch" nillable="true" type="tns:URIDocumentsType" />
      <xs:element minOccurs="0" name="Supplier" nillable="true" type="tns:ArrayOfSupplierBaseType" />
      <xs:element minOccurs="0" name="TrimHeader" nillable="true" type="tns:TrimPartHeaderType" />
      <xs:element minOccurs="0" name="YearSeason" nillable="true" type="tns:ArrayOfYearSeasonBaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrimPartBaseType" nillable="true" type="tns:TrimPartBaseType" />
  <xs:complexType name="URIDocumentsType">
    <xs:sequence>
      <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DocumentURI" nillable="true" type="q3:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="URIDocumentsType" nillable="true" type="tns:URIDocumentsType" />
  <xs:complexType name="ArrayOfColorBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ColorBaseType" nillable="true" type="tns:ColorBaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfColorBaseType" nillable="true" type="tns:ArrayOfColorBaseType" />
  <xs:complexType name="ColorBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DocumentURIs" nillable="true" type="tns:ColorBaseTypeDocumentURIs" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="YearSeason" nillable="true" type="tns:ArrayOfYearSeasonBaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorBaseType" nillable="true" type="tns:ColorBaseType" />
  <xs:complexType name="ColorBaseTypeDocumentURIs">
    <xs:sequence>
      <xs:element xmlns:q4="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="DocumentURI" nillable="true" type="q4:ArrayOfstring" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ColorBaseTypeDocumentURIs" nillable="true" type="tns:ColorBaseTypeDocumentURIs" />
  <xs:complexType name="ArrayOfYearSeasonBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="YearSeasonBaseType" nillable="true" type="tns:YearSeasonBaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfYearSeasonBaseType" nillable="true" type="tns:ArrayOfYearSeasonBaseType" />
  <xs:complexType name="YearSeasonBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Season" nillable="true" type="tns:SeasonEnum" />
      <xs:element minOccurs="0" name="Year" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="YearSeasonBaseType" nillable="true" type="tns:YearSeasonBaseType" />
  <xs:complexType name="SeasonEnum">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SeasonName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SeasonEnum" nillable="true" type="tns:SeasonEnum" />
  <xs:complexType name="TrimBtnLogoBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrimBtnLogoBaseType" nillable="true" type="tns:TrimBtnLogoBaseType" />
  <xs:complexType name="ArrayOfPriceBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PriceBaseType" nillable="true" type="tns:PriceBaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPriceBaseType" nillable="true" type="tns:ArrayOfPriceBaseType" />
  <xs:complexType name="PriceBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="PriceBaseType" nillable="true" type="tns:PriceBaseType" />
  <xs:complexType name="ArrayOfSizeBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SizeBaseType" nillable="true" type="tns:SizeBaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSizeBaseType" nillable="true" type="tns:ArrayOfSizeBaseType" />
  <xs:complexType name="SizeBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Dimension" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Measurement" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SizeBaseType" nillable="true" type="tns:SizeBaseType" />
  <xs:complexType name="ArrayOfSupplierBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SupplierBaseType" nillable="true" type="tns:SupplierBaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSupplierBaseType" nillable="true" type="tns:ArrayOfSupplierBaseType" />
  <xs:complexType name="SupplierBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ItemCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SupplierName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SupplierBaseType" nillable="true" type="tns:SupplierBaseType" />
  <xs:complexType name="TrimPartHeaderType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Cateogry" nillable="true" type="tns:TrimCategoryBaseType" />
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerInfo" nillable="true" type="tns:ArrayOfCustomerBaseType" />
      <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubCategory" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Version" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrimPartHeaderType" nillable="true" type="tns:TrimPartHeaderType" />
  <xs:complexType name="TrimCategoryBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Description" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="TrimCategoryBaseType" nillable="true" type="tns:TrimCategoryBaseType" />
  <xs:complexType name="ArrayOfCustomerBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CustomerBaseType" nillable="true" type="tns:CustomerBaseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCustomerBaseType" nillable="true" type="tns:ArrayOfCustomerBaseType" />
  <xs:complexType name="CustomerBaseType">
    <xs:sequence>
      <xs:element minOccurs="0" name="BrandCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="BrandName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CustomerReferenceNum" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CustomerBaseType" nillable="true" type="tns:CustomerBaseType" />
</xs:schema>