ArasServiceObject/ArasServiceObject/Service References/TrimPartManageService/TrimPartManageService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://esquel.com/ArasService/TrimPartManageService" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://esquel.com/ArasService/TrimPartManageService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://esquel.com/ArasService/TrimPartManageService/Imports">
      <xsd:import schemaLocation="http://localhost:49504/TrimPartManageService.svc?xsd=xsd0" namespace="http://esquel.com/ArasService/TrimPartManageService" />
      <xsd:import schemaLocation="http://localhost:49504/TrimPartManageService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:49504/TrimPartManageService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.Common" />
      <xsd:import schemaLocation="http://localhost:49504/TrimPartManageService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/ArasInnovatorService.ArasModel.PublicModel" />
      <xsd:import schemaLocation="http://localhost:49504/TrimPartManageService.svc?xsd=xsd4" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ITrimPartManageService_GetTrimPartList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrimPartList" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_GetTrimPartList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrimPartListResponse" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_GetTrimPartByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrimPartByID" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_GetTrimPartByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrimPartByIDResponse" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_GetTrimPartImage_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTrimPartImage" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_GetTrimPartImage_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTrimPartImageResponse" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_CreateAndFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateAndFilter" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_CreateAndFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateAndFilterResponse" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_CreateOrFilter_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrFilter" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_CreateOrFilter_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrFilterResponse" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_CreateLeaf_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateLeaf" />
  </wsdl:message>
  <wsdl:message name="ITrimPartManageService_CreateLeaf_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateLeafResponse" />
  </wsdl:message>
  <wsdl:portType name="ITrimPartManageService">
    <wsdl:operation name="GetTrimPartList">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/GetTrimPartList" message="tns:ITrimPartManageService_GetTrimPartList_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/GetTrimPartListResponse" message="tns:ITrimPartManageService_GetTrimPartList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrimPartByID">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/GetTrimPartByID" message="tns:ITrimPartManageService_GetTrimPartByID_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/GetTrimPartByIDResponse" message="tns:ITrimPartManageService_GetTrimPartByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTrimPartImage">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/GetTrimPartImage" message="tns:ITrimPartManageService_GetTrimPartImage_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/GetTrimPartImageResponse" message="tns:ITrimPartManageService_GetTrimPartImage_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateAndFilter">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/CreateAndFilter" message="tns:ITrimPartManageService_CreateAndFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/CreateAndFilterResponse" message="tns:ITrimPartManageService_CreateAndFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateOrFilter">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/CreateOrFilter" message="tns:ITrimPartManageService_CreateOrFilter_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/CreateOrFilterResponse" message="tns:ITrimPartManageService_CreateOrFilter_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateLeaf">
      <wsdl:input wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/CreateLeaf" message="tns:ITrimPartManageService_CreateLeaf_InputMessage" />
      <wsdl:output wsaw:Action="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/CreateLeafResponse" message="tns:ITrimPartManageService_CreateLeaf_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
</wsdl:definitions>