ArasServiceObject/ArasServiceObject/Service References/TrimPartManageService/TrimPartManageService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://esquel.com/ArasService/TrimPartManageService" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TrimPartManageService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://esquel.com/ArasService/TrimPartManageService" location="http://localhost:49504/TrimPartManageService.svc?wsdl=wsdl0" />
  <wsdl:types />
  <wsdl:binding name="BasicHttpBinding_ITrimPartManageService" type="i0:ITrimPartManageService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTrimPartList">
      <soap:operation soapAction="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/GetTrimPartList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrimPartByID">
      <soap:operation soapAction="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/GetTrimPartByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTrimPartImage">
      <soap:operation soapAction="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/GetTrimPartImage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateAndFilter">
      <soap:operation soapAction="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/CreateAndFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateOrFilter">
      <soap:operation soapAction="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/CreateOrFilter" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateLeaf">
      <soap:operation soapAction="http://esquel.com/ArasService/TrimPartManageService/ITrimPartManageService/CreateLeaf" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TrimPartManageService">
    <wsdl:port name="BasicHttpBinding_ITrimPartManageService" binding="tns:BasicHttpBinding_ITrimPartManageService">
      <soap:address location="http://localhost:49504/TrimPartManageService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>